@import "tailwindcss";

:root {
  --font-inter: "Inter", system-ui, -apple-system, sans-serif;
}

@variant dark (&:where(.dark, .dark *));

body {
  font-family: var(--font-inter);
  @apply antialiased;
}